<%= form_for(locals[:product], url: products_add_to_cart_path(locals[:product]), method: :post) do |f| %>
  <div class="edit-quantity">
    <%= text_field :qty, :value %>
  </div>
  <div class="actions">
    <%= f.submit "Change" %>
  </div>
<% end %>